.play-button {
	@apply bg-green-spotify;
	@apply h-20;
	@apply w-20;
	@apply rounded-full;
	@apply hover:bg-opacity-50;
}

.play-icon {
	max-width: 20px;
	@apply mx-auto;
}

.play-icon::after {
	content: "";
	display: block;

	border-top: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #000;
}
